html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}


/* modal animations */
.animate-fade-in {
  animation: fadeIn 0.25s ease forwards;
}

.animate-fade-out {
  animation: fadeOut 0.25s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.97);
  }
}